extends ./helpers/base_layout



block content
  
  .loader#loader
    .loader__content
      .loader__procces
        .loader__loader
          .loader__shape
          .loader__shape
          .loader__shape
      .loader__text loading
  header.header
    .wrapper
      nav.header__nav
        input(type="checkbox")#hamburger
        label(for="hamburger").hamburger
          span.hamburger__line
        ul.header__nav-list
          li.header__nav-item
            a(href="#about" title="About Me").header__nav-link About
          li.header__nav-item
            a(href="#works" title="My Works").header__nav-link Works
          li.header__nav-item
            a(href="#contacts" title="My Contacts and Links").header__nav-link Contacts
      //- nav.socials.header__socials
      //-   ul.socials__list
      //-     li.socials__item
      //-       a(href="#").socials__link
      main.header__content
        .header__box
          p.header__text Hey!
          p.header__text I am
          .header__heading-box
            h1(data-typed="1").heading.header__heading
        .header__box
          p.header__text I am also
          .header__heading-box
            h1(data-typed="2").heading.header__heading
          .header__heading-box 
            h1(data-typed="3").heading.header__heading
          .header__heading-box 
            h1(data-typed="4").heading.header__heading Programmer
  main.main-content
    .about#about
      .wrapper
        h1.heading.about__title About
        p.about__text I'm Deebov and I'm 17 y.o
        p.about__text I'm Full-stack developer whose programming is his life
        p.about__text 
          | You can see my general resume 
          a(href="#" title="Click to see my resume").about__link here
          |  or download 
          a(href="#" title="Click here to download my resume").about__link here
        .tech-skills.about__tech-skills
          h2.heading My tech skills
          ul.tech-skills__list
            each skill in techSkills
              li(class='tech-skills__item' + (skill.accent ? ' tech-skills__item--accent' : '')) #{skill.name} /
        .list.about__skills
          h1.heading.list__heading Professional and Personal skills
          ul.list__list
            each skill in ['Enthusiast', 'Responsible', 'Writing clean and reusable code', 'Responsive and Cross-browser design']
              li.list__item= skill

    .works#works
      .wrapper
        .list.works__list
          h1.heading.list__heading Works
          ul.list__list
            li.list__item
              a(href="#" title="Natours - Modern, fully responsive and cross-browser site").link.works__link Natours 
              .modal
                .modal__container
                  .modal__top 
                    | Natours - fully responsive, modern and cross-browser HTML site
                    .modal__close x
                  .modal__content
                    img(src="assets/img/bandicam 2018-07-16 03-20-13-809.jpg", alt="").modal__img
                    p.modal__text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta a eum minima autem quisquam. Eveniet blanditiis at officia amet et fuga atque eos cum voluptatibus aperiam ea eum, molestias veritatis.
                    a(href="#").modal__btn See
            li.list__item
              a(href="#").link.works__link Trello
              .modal
                .modal__container
                  .modal__top 
                    | Natours - fully responsive, modern and cross-browser HTML site
                    .modal__close x
                  .modal__content
                    img(src="assets/img/bandicam 2018-07-16 03-20-13-809.jpg", alt="").modal__img
                    p.modal__text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta a eum minima autem quisquam. Eveniet blanditiis at officia amet et fuga atque eos cum voluptatibus aperiam ea eum, molestias veritatis.
                    a(href="#").modal__btn See
            li.list__item
              a(href="#").link.works__link Forkify
              .modal
                .modal__container
                  .modal__top 
                    | Natours - fully responsive, modern and cross-browser HTML site
                    .modal__close x
                  .modal__content
                    img(src="assets/img/bandicam 2018-07-16 03-20-13-809.jpg", alt="").modal__img
                    p.modal__text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta a eum minima autem quisquam. Eveniet blanditiis at officia amet et fuga atque eos cum voluptatibus aperiam ea eum, molestias veritatis.
                    a(href="#").modal__btn See
              
            li.list__item
              a(href="#").link.works__link Sting
              .modal
                .modal__container
                  .modal__top 
                    | Natours - fully responsive, modern and cross-browser HTML site
                    .modal__close x
                  .modal__content
                    img(src="assets/img/bandicam 2018-07-16 03-20-13-809.jpg", alt="").modal__img
                    p.modal__text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta a eum minima autem quisquam. Eveniet blanditiis at officia amet et fuga atque eos cum voluptatibus aperiam ea eum, molestias veritatis.
                    a(href="#").modal__btn See

    .contacts#contacts
      .wrapper
        .list.contacts__list
          h1.heading.list__heading Contacts
          ul.list__list
            li.list__item 
              | Email: 
              a(href="mailto:deebov@yandex.com").link.contacts__link deebov@yandex.com
              
            li.list__item Phone: +998 99 753 55 46
            li.list__item 
              a(href="https://www.linkedin.com/in/deebov/" target="_blank" title="See my LinkedIn profile").link.contacts__link LinkedIn
            li.list__item 
              a(href="https://github.com/deebov" target="_blank" title="See my GitHub profile").link.contacts__link GitHub
            li.list__item 
              a(href="https://codepen.io/deebov/" target="_blank" title="See my Codepen profile").link.contacts__link Codepen
            li.list__item 
              a(href="https://www.instagram.com/code_deebov/" target="_blank" title="See my Instagram profile").link.contacts__link Instagram
  footer.footer
    p.footer__text 
    | All rights reserved. Built by deebov with
    span.footer__heart 
    | . deebov &copy;
  