extends ./helpers/base_layout



block content
  
  .loader#loader
    .loader__content
      .loader__procces
        .loader__loader
          .loader__shape
          .loader__shape
          .loader__shape
      .loader__text loading
  header.header
    .wrapper
      nav.header__nav
        ul.header__nav-list
          li.header__nav-item
            a(href="#about").header__nav-link About
          li.header__nav-item
            a(href="#works").header__nav-link Works
          li.header__nav-item
            a(href="#contacts").header__nav-link Contacts
      //- nav.socials.header__socials
      //-   ul.socials__list
      //-     li.socials__item
      //-       a(href="#").socials__link
      main.header__content
        .header__box
          p.header__text Hey!
          p.header__text I am
          h1.heading.header__heading Deebov
        .header__box
          p.header__text I am also
          h1.heading.header__heading Younger
          h1.heading.header__heading Enthusiast
          h1.heading.header__heading Programmer
  main.main-content
    .about#about
      .wrapper
        h1.heading.about__title About
        p.about__text I'm Deebov and I'm 17 y.o
        p.about__text I'm Full-stack developer whose programming is his life
        p.about__text 
          | You can see my general resume 
          a(href="#").about__link here
          |  or download 
          a(href="#").about__link here
        .tech-skills.about__tech-skills
          h2.heading My tech skills
          ul.tech-skills__list
            each skill in techSkills
              li(class='tech-skills__item' + (skill.accent ? ' tech-skills__item--accent' : '')) #{skill.name} /
        .list.about__skills
          h1.heading.list__heading Professional and Personal skills
          ul.list__list
            each skill in ['Enthusiast', 'Responsible', 'Writing clean and reusable code', 'Responsive and Cross-browser design']
              li.list__item= skill

    .works#works
      .wrapper
        .list.works__list
          h1.heading.list__heading Works
          ul.list__list
            li.list__item
              a(href="#").link.works__link Natours 
              .modal
                .modal__top 
                  | Natours - fully responsive, modern and cross-browser HTML site
                  .modal__close x
                .modal__content
                  img(src="assets/img/bandicam 2018-07-16 03-20-13-809.jpg", alt="").modal__img
                  p.modal__text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta a eum minima autem quisquam. Eveniet blanditiis at officia amet et fuga atque eos cum voluptatibus aperiam ea eum, molestias veritatis.
                  a(href="#").modal__btn See
            li.list__item
              a(href="#").link.works__link Trello
            li.list__item
              a(href="#").link.works__link Forkify
            li.list__item
              a(href="#").link.works__link Sting

    .contacts#contacts
      .wrapper
        .list.contacts__list
          h1.heading.list__heading Contacts
          ul.list__list
            li.list__item 
              | Email: 
              a(href="#").link.contacts__link deebov@yandex.com
              
            li.list__item Phone: +998 99 753 55 46
            li.list__item 
              a(href="#").link.contacts__link LinkedIn
            li.list__item 
              a(href="#").link.contacts__link GitHub
            li.list__item 
              a(href="#").link.contacts__link Codepen
            li.list__item 
              a(href="#").link.contacts__link Instagram
  footer.footer
    p.footer__text All rights reserved. Built by deebov with <3. deebov &copy;
  