* 
  margin: 0
  padding: 0
  box-sizing: border-box

html 
  font-size: 16px

body 
  font-family: "VCR", sans-serif
  line-height: 2
  color: #ffffff


.wrapper
  position: relative
  width: 1100px
  max-width: 1100px
  height: 100%
  margin: auto

