@font-face
  font-family: 'bb'
  src:  url('../fonts/bb.TTF')
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'Fipps'
  src:  url('../fonts/Fipps-Regular.otf')
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'VCR'
  src:  url('../fonts/VCR-MONO.ttf')
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'Sketch'
  src:  url('../fonts/Sketch 3D.otf')
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'Orange-juice'
  src:  url('../fonts/orange juice 2.0.ttf')
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'PrStart'
  src:  url('../fonts/PrStart.ttf')
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'prstark'
  src:  url('../fonts/prstartk.ttf')
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'press2'
  src:  url('../fonts/PressStart2P.ttf')
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'pixellari'
  src:  url('../fonts/Pixellari.ttf')
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'digit'
  src:  url('../fonts/Digits_3.ttf')
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'bittcell'
  src:  url('../fonts/bittcell.ttf')
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'adia'
  src:  url('../fonts/Adobe Dia.ttf')
  font-weight: normal
  font-style: normal
@font-face
  font-family: '04B'
  src:  url('../fonts/04B_30__.TTF')
  font-style: normal
  font-weight: normal
@font-face
  font-family: 'block'
  src:  url('../fonts/baby blocks.ttf')
  font-style: normal
  font-weight: normal