<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description" content="deebov's portfolio site. Hey are you looking a web developer? You've found it! I am here!")
    meta(name="keywords" content="HTMl, HTML5, CSS, CSS3, JavaScript, front-end, back-end, full-stack, developer, deebov, dilshod, younger, programmer, webpack, SASS, UI, UX")
    link(rel="shortcut icon", href="assets/img/favicon.ico", type="image/x-icon")
    title Deebov
    // inject:css
    // endinject
  body
    block content



    // inject:js
    // endinject