.header
  background-color: $color-primary
  width: 100%
  height: 100vh
  padding: 0 20px
  & *
    user-select: none
  &__nav
    position: relative
    top: 20px
    @include respond('tablet')
      height: 45px
  &__nav-list
    list-style-type: none
    transition: all .2s
    @include respond('tablet')
      opacity: 0
      visibility: hidden
      @include centered('Y')
      transform: translateX(-100%) translateY(-50%)
  &__nav-item
    display: inline-block
  &__nav-link
    color: #ffffff
    text-decoration: none
    transition: all .2s
    
    &:hover
      border-bottom: 1px solid #fff
  &__heading-box
    display: block
    height: 50px
  &__heading
    display: inline-block
    cursor: text
  &__content
    @include centered('Y')
  &__box
    display: inline-block
    vertical-align: top
    width: 200px
    &:not(:last-child)
      margin-right: 120px
      @include respond('mobile-l')
        margin-right: 0 
        margin-bottom: 30px

#hamburger
  display: none  
  &:checked ~ .hamburger .hamburger__line
    background-color: transparent
  &:checked ~ .hamburger .hamburger__line::before
    transform: rotate(-135deg) 
    top: 0
  &:checked ~ .hamburger .hamburger__line::after
    transform: rotate(135deg)
    top: 0
  &:checked ~ .header__nav-list
    opacity: 1
    visibility: visible
    display: inline-block
    transform: translateX(60px) translateY(-50%)
.hamburger
  margin-top: 10px
  width: 25px
  height: 30px
  display: inline-block
  position: relative
  text-align: center
  cursor: pointer
  padding-top: 13px
  transition: all .3s
  opacity: 0
  visibility: hidden
  transform: translateY(-100%)
  position: absolute
  @include respond('tablet')
    transform: translateY(0)
    opacity: 1
    visibility: visible
    display: inline-block
    margin-right: 15px
  &__line
    position: relative
    &,
    &::before,
    &::after
      width: 25px
      height: 2px
      background-color: #fff
      display: block
      border-radius: 1px
      transition: all .2s

    &::before,
    &::after
      content: ''
      position: absolute

    &::before
      top: -10px

    &::after
      top: 10px